.mail{
    width: 100%;
    margin-top: 50px;
    background-color: #231F20;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 50px;
}

.mailInputContainer>input{
    width: 300px;
    height: 30px;
    padding: 10px;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
}

.mailInputContainer>button{
    height: 50px;
    background-color: #514a4c;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.mailTitle{ 
    font-family: Arial, Helvetica, sans-serif;
}

.mailDesc{
    font-family: Arial, Helvetica, sans-serif;
}